In [1]:
import pandas as pd

In [25]:
# Read csv
df = pd.read_csv('E:\OneDrive\Arbeit\Repos\DMC2022\Kevin\csv\complete_dataset_cleaned_labeled.csv', sep='|')

In [26]:
df.head()

,Unnamed: 0,date,userID,itemID,order,brand,feature_1,feature_2,feature_3,feature_4,feature_5,categories,week
0,0,2020-06-01,38769,3477,1,186,6,0,196,0,45,"[74, 4109, 3867, 803, 4053]",1.0
1,1,2020-06-01,42535,30474,1,193,10,3,229,3,132,"[3459, 3738, 679, 1628, 4072]",1.0
2,2,2020-06-01,42535,15833,1,1318,4,1,455,0,108,"[2973, 2907, 2749, 3357]",1.0
3,3,2020-06-01,42535,20131,1,347,4,0,291,3,44,"[30, 1515, 1760, 2932, 1287, 2615, 3727, 2450,...",1.0
4,4,2020-06-01,42535,4325,1,539,6,0,303,0,45,"[3104, 1772, 2029, 1274, 3915, 888, 1118, 3882...",1.0

In [27]:
df.dtypes

Unnamed: 0      int64
date           object
userID          int64
itemID          int64
order           int64
brand           int64
feature_1       int64
feature_2       int64
feature_3       int64
feature_4       int64
feature_5       int64
categories     object
week          float64
dtype: object

# Cleaning

In [28]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [30]:
df.dtypes

date           object
userID          int64
itemID          int64
order           int64
brand           int64
feature_1       int64
feature_2       int64
feature_3       int64
feature_4       int64
feature_5       int64
categories     object
week          float64
dtype: object

In [31]:
df[df.isnull().any(axis=1)]

,date,userID,itemID,order,brand,feature_1,feature_2,feature_3,feature_4,feature_5,categories,week
152146,2020-07-06,7337,19567,1,20,6,0,201,3,17,"[2005, 1000, 3985]",NaN
152147,2020-07-06,18536,15449,1,1288,10,0,421,3,25,"[3224, 3903, 2690, 2700, 2209]",NaN
152148,2020-07-06,30437,4660,1,615,10,0,377,0,147,"[1125, 2829, 219, 3913, 3924, 3324]",NaN
152149,2020-07-06,11537,7470,1,186,4,0,28,0,48,"[813, 4039]",NaN
152150,2020-07-06,11537,19043,1,186,10,3,27,3,39,"[836, 2909, 545, 1668, 813, 1515, 3457, 1760, ...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
161694,2020-07-07,16765,24763,1,186,6,0,207,0,17,"[74, 3459, 3053, 1763, 3915, 3957, 278, 1482, ...",NaN
161695,2020-07-07,16765,19649,1,361,10,0,503,0,85,"[3424, 3540]",NaN
161696,2020-07-07,16765,6024,1,361,10,0,503,0,90,"[2995, 3540]",NaN
161697,2020-07-07,39000,1126,1,648,10,1,534,0,45,[1045],NaN
161698,2020-07-07,7806,29306,1,610,10,0,258,0,20,"[922, 2091, 3013, 3125, 1095, 4209]",NaN

In [29]:
df2 = df.dropna(how='all').dropna(how='all', axis=1)
print(df2)

               date  userID  itemID  order  brand  feature_1  feature_2  \
0        2020-06-01   38769    3477      1    186          6          0
1        2020-06-01   42535   30474      1    193         10          3
2        2020-06-01   42535   15833      1   1318          4          1
3        2020-06-01   42535   20131      1    347          4          0
4        2020-06-01   42535    4325      1    539          6          0
...             ...     ...     ...    ...    ...        ...        ...
1069411  2021-01-31   22114   29567      2   1445          3          0
1069412  2021-01-31   22114   21068      1    193          4          0
1069413  2021-01-31   10900   18270      1   1383          6          0
1069414  2021-01-31   17894   31265      5   1137          4          0
1069415  2021-01-31   25974   17983      1    615          4          0

         feature_3  feature_4  feature_5  \
0              196          0         45
1              229          3        132
2              455          0        108
3              291          3         44
4              303          0         45
...            ...        ...        ...
1069411         -1         -1         -1
1069412        453          3        108
1069413        537          0         46
1069414        398          0        144
1069415        486          3        106

                                                categories  week
0                              [74, 4109, 3867, 803, 4053]   1.0
1                            [3459, 3738, 679, 1628, 4072]   1.0
2                                 [2973, 2907, 2749, 3357]   1.0
3        [30, 1515, 1760, 2932, 1287, 2615, 3727, 2450,...   1.0
4        [3104, 1772, 2029, 1274, 3915, 888, 1118, 3882...   1.0
...                                                    ...   ...
1069411                       [2315, 3429, 381, 535, 3283]   4.0
1069412                                       [3254, 2754]   4.0
1069413                [514, 2467, 2360, 2256, 1518, 3042]   4.0
1069414                             [2256, 41, 1518, 2826]   4.0
1069415           [2658, 2010, 1980, 1760, 2836, 332, 274]   4.0

[1069416 rows x 12 columns]

In [12]:
df['week'] = df['week'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [9]:
df.head()

,date,userID,itemID,order,brand,feature_1,feature_2,feature_3,feature_4,feature_5,categories,week
0,2020-06-01,38769,3477,1,186,6,0,196,0,45,"[74, 4109, 3867, 803, 4053]",1.0
1,2020-06-01,42535,30474,1,193,10,3,229,3,132,"[3459, 3738, 679, 1628, 4072]",1.0
2,2020-06-01,42535,15833,1,1318,4,1,455,0,108,"[2973, 2907, 2749, 3357]",1.0
3,2020-06-01,42535,20131,1,347,4,0,291,3,44,"[30, 1515, 1760, 2932, 1287, 2615, 3727, 2450,...",1.0
4,2020-06-01,42535,4325,1,539,6,0,303,0,45,"[3104, 1772, 2029, 1274, 3915, 888, 1118, 3882...",1.0

# Datatypes for XGBoost

XGBoost natively supports continuous data but not categorical data. In order to use categorical data with XGBoost, we have to use One-Hot-Encoding which converts a column of categorical values into muliple columns of binary values.